<div class="pull-left">
	<ul class="list-inline">
		<li>
		    <div class="btn-group btn-group-sm">
				<a class="btn btn-default" href="#/VisSingleLine/{{visualization.id}}">
					<span class="fa fa-clock-o"></span>  Gráfico de linha
				</a>

				<a class="btn btn-default active" href="#/VisMultiLine/{{visualization.id}}">
					<span class="fa fa-clock-o"></span> Gráfico de multilinha
				</a>

				<a class="btn btn-default" href="#/VisCircle/{{visualization.id}}">
					<span class="fa fa-clock-o"></span> Gráfico de circulo
				</a>
		    </div>
		</li>
	</ul>
</div>

<div class="pull-right">
	<ul class="list-inline">
		<li>
			<label class="btn btn-default btn-sm active" tooltip="Arquivo de dados da visualização">
				<span class="fa fa-file-text-o"></span> {{visualization.name}}
			</label>
		</li>
		<li>
			<label class="btn btn-default btn-sm active" tooltip="Total de tweets análisados">
				<span class="fa fa-twitter"></span> {{visualization.total_tweets | number}}
			</label>
		</li>
		<li>
			<!--<label>Agregação: </label>-->
		 	<div class="btn-group btn-group-sm" >
				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'5m'">
					<span class="fa fa-clock-o" ></span> 5m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'10m'">
					<span class="fa fa-clock-o"></span> 10m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'15m'">
					<span class="fa fa-clock-o"></span> 15m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'30m'">
					<span class="fa fa-clock-o"></span> 30m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'60m'">
					<span class="fa fa-clock-o"></span> 60m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'24h'">
					<span class="fa fa-clock-o"></span> 24h
				</label>
			</div>
		</li>
		<li>
			<label class="btn btn-default btn-sm" ng-click="clearBrushSelection()" tooltip="Limpa o intervalo de tempo selecionado"><span class="fa fa-eraser"></span> Limpar seleção</label>
		</li>
	</ul>
</div>
