<!-- <div class="pull-left">
	<ul class="list-inline">
		<li>
			<label class="btn btn-default btn-xs active">
				<span class="fa fa-file-text-o"></span> {{visualization.name}}
			</label>
		</li>
		<li>
			<label class="btn btn-default btn-xs active">
				<span class="fa fa-twitter"></span> {{4404400 | number}}
			</label>
		</li>
	</ul>
</div> -->
<div class="pull-right">
	<ul class="list-inline">
		<li>
			<label class="btn btn-default btn-xs active" tooltip="Arquivo de dados da visualização">
				<span class="fa fa-file-text-o"></span> {{visualization.name}}
			</label>
		</li>
		<li>
			<label class="btn btn-default btn-xs active" tooltip="Total de tweets análisados">
				<span class="fa fa-twitter"></span> {{visualization.total_tweets | number}}
			</label>
		</li>
		<li>
			<!--<label>Agregação: </label>-->
		 	<div class="btn-group btn-group-xs" >
				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'5m'">
					<span class="fa fa-clock-o" ></span> 5m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'10m'">
					<span class="fa fa-clock-o"></span> 10m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'15m'">
					<span class="fa fa-clock-o"></span> 15m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'30m'">
					<span class="fa fa-clock-o"></span> 30m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'60m'">
					<span class="fa fa-clock-o"></span> 60m
				</label>

				<label class="btn btn-default" ng-model="form.aggregation" ng-change="changeAggregation()" btn-radio="'24h'">
					<span class="fa fa-clock-o"></span> 24h
				</label>
			</div>
		</li>
		<li>
			<label class="btn btn-default btn-xs" ng-click="clearBrushSelection()" tooltip="Limpa o intervalo de tempo selecionado"><span class="fa fa-eraser"></span> Limpar seleção</label>
		</li>
	</ul>
</div>
